@font-face {
    font-family: LOL;
    src: url(Beaufort-Bold.ttf);
}


body {

    background: linear-gradient(#053A44, #01262D);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.title-header {
    font-family: 'LOL', "Times New Roman";
    color: #E3E0DD;
}

.sub-header {
    color: #E3E0DD;
    font-size: 18px;
}

.button-styles {
    background: linear-gradient(#BA9543, #6E4E06);
    color: #E3E0DD;
}

.button-styles li a {
    color: #E3E0DD;
}

#delete-button {
    background: linear-gradient(#BA4E43, #6E1006);
}
.delete-toast {
    background: linear-gradient(#BA4E43, #6E1006);
}

.button-styles:hover {
    background-color: #BA9543;
}
.champion-list {
    border: 1px solid #4C828C;
    background: linear-gradient(#10181F, #1A2025);
}

#chart-button {
    position: relative;
    left: 17px;
}

.champion-list hr {
    border: 0.5px solid #4C828C;
}
.title {
    color: #B7B9B1;
    font-family: sans-serif;
    font-size: 28px;
}

.description {
    color: #B7B9B1;
    font-family: sans-serif;
}



.add-button {
    position: relative;
    left: 10px;
    top: 10px;
}

.chart-container {
    position: relative;
}

.filter-button {
    position: relative;
    bottom: 174px;
    left: 46px;
}

@media only screen and (max-width: 996px) {
    .filter-button {
        position: relative;
        left: 0;
        bottom: 0;
    }
    .rants-button {
        position: relative;
        top: 146px;
        right: 90px;
    }
    .title-header {
        position: relative;
        left: 255px;
    }
}

@media only screen and (max-width: 860px) {
    .title-header {
        position: relative;
        left: 161px;
    }
    .rants-button {
        position: relative;
        top: 146px;
        right: 197px;
    }
    .filter-button {
        bottom: 85px;
    }

}

@media only screen and (max-width: 680px) {
    .title-header {
        position: static;
        left: 0;
    }
    .rants-button {
        position: static;
        top: 0;
        right: 0;
    }
    .filter-button {
        bottom: 163px;
        left: 20px;
    }

}

@media only screen and (max-width: 580px) {
    .title-header {
        position: static;
        left: 0;
    }
    .rants-button {
        position: static;
        top: 0;
        right: 0;
    }
    .filter-button {
        bottom: 163px;
        left: 37px;
    }


}

@media only screen and (max-width: 440px) {
    .rants-button {
        position: relative;
        top: 0;
        right: 0;
        left: 76px;
    }
    .filter-button {
        bottom: 36px;
        left: 95px;
        z-index: -1;
    }
    .title-header {
        position: relative;
        bottom: 31px;
    }
    #chart-button {
        position: relative;
        left: 57px;
    }

}



